<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加图书</title>
</head>
<link rel="stylesheet" href="">
<body>
    <form action="addBook" method="POST">
        名称：<input type="text" name="name"><br>
        作者：<input type="text" name="autor"><br>
        类型：<input type="text" name="category"><br>
        描述：<input type="text" name="desc"><br>
        <input type="submit" value="提交">
    </form>
    <!-- "id": "2",
    "name": "水浒传",
    "autor": "Mr 水",
    "category": "文学",
    "desc": "108条好汉" -->
</body>
</html>